<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
    <span th:insert="include::flag_bootstrap"></span>
    <link rel="stylesheet" href="../../static/css/style.css">
    <style>
        .formBlock {
            margin-top: 200px;
        }
    </style>
</head>

<body>
    <div class="container-fluid formBlock">
        <div class="row justify-content-center">
            <div class="card col-7">
                <div class="card-body">
                    <form action="../task/list.html" th:action="@{/login}" method="post" class="text-center col-12">
                        <div class="form-group">
                            <span th:text="${errorMessage}" style="color:red">error</span>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-5 col-form-label text-right">メールアドレス:</label>
                            <input type="text" name="email" id="email" class="form-control col-7">
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-5 col-form-label text-right">パスワード:</label>
                            <input type="password" name="password" id="password" class="form-control col-7">
                        </div>
                        <button class="btn btn-primary">ログイン</button>
                        <a class="btn btn-primary" href="insert.html" th:href="@{/toInsert}">新規登録</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>