<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
</head>

<body>
    <form action="../task/list.html" th:action="@{/login}" method="post">
        <span th:text="${errorMessage}" style="color:red">error</span><br>
        <label for="email">メールアドレス:</label>
        <input type="text" name="email" id="email"><br>
        <label for="password">パスワード</label>
        <input type="password" name="password" id="password"><br>
        <button>ログイン</button>
    </form>
    <a href="insert.html" th:href="@{/toInsert}">新規登録</a>
</body>

</html>